# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
build/
bin/

# Dependency directories
vendor/
Godeps/

# Testing
*.test
*.out

# IDE specific
.idea/
.vscode/

# Exclude JSON files from Google API
client_secret.json
youtube.json
.credentials/

# Exclude video files
*.mp4
*.avi
*.mov
*.mkv
